<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="NFineDbContext" connectionString="Server=;Initial Catalog=NFineBase;User ID= ;Password= " providerName="System.Data.SqlClient" />
  <add name="Write_sms" connectionString="Server= ;Initial Catalog=NFineBase;User ID= ;Password= " providerName="System.Data.SqlClient" />
  <add name="Read_sms" connectionString="Server= ;Initial Catalog=NFineBase;User ID= ;Password= " providerName="System.Data.SqlClient" />
</connectionStrings>