@{
    ViewBag.Title = "短信模式选择";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<script>
    $(function () {
        gridList();
    })

    function gridList() {
        var $gridList = $("#gridList");
        $gridList.dataGrid({
            url: "/TXLManage/SmsTemplate/GetGridJson",
            height: $(window).height() - 128,
            colModel: [
                { label: '主键', name: 'F_Id', hidden: true },
                { label: '模板内容', name: 'F_TplContent', width: 500, align: 'center' },
                //{
                //    label: '操作', name: 'm_operate', width: 100, align: 'center',
                //    formatter: function (cellvalue, options, rowObject) {
                //        var retstr = '<a onclick="btn_edit(\'' + rowObject["F_Id"] + '\')" style="cursor:pointer">修改</a>&nbsp;&nbsp;';
                //        retstr += '<a onclick="btn_delete(\'' + rowObject["F_Id"] + '\')" style="cursor:pointer">删除</a>';
                //        return retstr;
                //    }
                //}
            ],
            pager: "#gridPager",
            sortname: 'F_CreatorTime desc',
            rownumber: true,
            multiselect: true,
            viewrecords: true
        });

        $("#btn_search").click(function () {
            //查询参数
            var queryJson = {
                F_TplContent: $("#F_TplContent").val()
            }
            $gridList.jqGrid('setGridParam', {
                postData: { queryJson: JSON.stringify(queryJson) },
            }).trigger('reloadGrid');
        });
    }
    //function btn_add() {
    //    $.modalOpen({
    //        id: "Form",
    //        title: "新增短信模板",
    //        url: "/TXLManage/SmsTemplate/Form",
    //        width: "700px",
    //        height: "510px",
    //        callBack: function (iframeId) {
    //            top.frames[iframeId].submitForm();
    //        }
    //    });
    //}
    //function btn_edit(fid) {
    //    var keyValue = $("#gridList").jqGridRowValue().F_Id;      //此语法有问题，取不到表格里面勾选的F_id
    //    if (fid !=undefined)
    //        keyValue = fid;
    //    $.modalOpen({
    //        id: "Form",
    //        title: "修改短信模板",
    //        url: "/TXLManage/SmsTemplate/Form?keyValue=" + keyValue,
    //        width: "700px",
    //        height: "510px",
    //        callBack: function (iframeId) {
    //            top.frames[iframeId].submitForm();
    //        }
    //    });
    //}
    //function btn_delete(fid) {

    //    var selarrrow = $("#gridList").jqGrid('getGridParam', 'selarrrow'); //取得多选行号
    //    var keyValue = "";
    //    var ret;
    //    //取得多选项目的F_Id
    //    selarrrow.forEach(function (e) {
    //        ret = $("#gridList").jqGrid('getRowData', e);
    //        keyValue += ret.F_Id + ",";
    //    })
    //    if (fid !=undefined){
    //        keyValue = fid;
    //    }
    //    $.deleteForm({
    //        url: "/TXLManage/SmsTemplate/DeleteForm",
    //        param: { keyValue: keyValue },
    //        success: function () {
    //            $.currentWindow().$("#gridList").trigger("reloadGrid");
    //        }
    //    })
    //}

    function btn_details() {
        var keyValue = $("#gridList").jqGridRowValue().F_Id;
        $.modalOpen({
            id: "Details",
            title: "查看短信模板",
            url: "/TXLManage/SmsTemplate/Details?keyValue=" + keyValue,
            width: "700px",
            height: "550px",
            btn: null,
        });
    }
</script>
<iframe id="HideFrm" style="display: none"></iframe>
<div class="topPanel">
    <div class="toolbar">
        <div class="btn-group">
            <a class="btn btn-primary" onclick="$.reload()"><span class="glyphicon glyphicon-refresh"></span></a>
        </div>
        @*<div class="btn-group">
            <a id="NU-add" authorize="yes" class="btn btn-primary dropdown-text" onclick="btn_add()"><i class="fa fa-plus"></i>新建短信模板</a>
        </div>
        <div class="btn-group">
            <a id="NU-delete" authorize="yes" class="btn btn-primary" onclick="btn_delete()"><i class="fa fa-trash-o"></i>删除短信模板</a>
        </div>*@

        <script>$('.toolbar').authorizeButton()</script>
    </div>
    <div class="search">
        <table>
            <tr>
                <td>
                    <div class="input-group">
                        <input id="F_TplContent" type="text" class="form-control" placeholder="短信模板关键字" style="width: 300px;">
                        <span class="input-group-btn">
                            <button id="btn_search" type="button" class="btn  btn-primary"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="gridPanel" id="gridPanel">
    <table id="gridList"></table>
    <div id="gridPager"></div>
</div>
