<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="NFineDbContext" connectionString="Server=106.14.140.218;Initial Catalog=NFineBase;User ID=sa;Password=thx123456" providerName="System.Data.SqlClient" />
  <add name="Write_sms" connectionString="Server=106.14.140.218;Initial Catalog=NFineBase;User ID=sa;Password=thx123456" providerName="System.Data.SqlClient" />
  <add name="Read_sms" connectionString="Server=106.14.140.218;Initial Catalog=NFineBase;User ID=sa;Password=thx123456" providerName="System.Data.SqlClient" />
</connectionStrings>