@{
    ViewBag.Title = "childRechargeForm";
    Layout = "~/Views/Shared/_Form.cshtml";
}

<script>
    var id = $.request("keyValue");
    $(function () {
        if (!!id) {
            $.ajax({
                url: "/OCManage/RechargeRecord/GetChildFormJson",
                data: { id: id },
                dataType: "json",
                async: false,
                success: function (data) {
                    $("#form1").formSerialize(data);
                }
            });
        }

    });

    function submitForm() {
        if (!$('#form1').formValid()) {
            return false;
        }
        $.submitForm({
            url: "/SystemManage/User/childRechargeSubmitForm?id=" + id,
            param: $("#form1").formSerialize(),
            success: function () {
                $.currentWindow().$("#gridList").trigger("reloadGrid");
            }
        })
    }
</script>

<form id="form1">
    <div style="margin-top: 10px; margin-left: 10px; margin-right: 10px;">
        <div style="padding-top: 20px; margin-right: 30px;">
            <table class="form">
                <tr>
                    <th class="formTitle">账户<span class="text-danger"></span></th>
                    <td class="formValue">
                        <input id="F_Account" name="F_Account" type="text" readonly="readonly" class="form-control required" autofocus="" />
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">转账金额</th>
                    <td class="formValue">
                        <input id="F_TransferAmount" name="F_TransferAmount" type="text" class="form-control required" autofocus="" />
                    </td>
                </tr>
            </table>
        </div>
    </div>
</form>