
@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script>
    //keyValue：传递数据。若为空，则此页面为添加新客户窗体，否则此页面为修改F_Id值为keyValue的客户窗体
    var keyValue = $.request("keyValue"); //获取传递数据keyValue

    //keyValue不为空，获取对应F_Id为keyValue值的数据并填充form1表单
    $(function () {
        if (!!keyValue) {
            $.ajax({
                url: "/CRMManage/Customers/GetFormJson",
                data: { keyValue: keyValue },
                dataType: "json",
                async: false,
                success: function (data) {
                    $("#form1").formSerialize(data);
                }
            });
        } 
    });
    //表单数据提交
    function submitForm() { 
        if (!$('#form1').formValid()) {
            return false;
        }
        $.submitForm({
            url: "/CRMManage/Customers/CustomerSubmitForm?keyValue=" + keyValue,
            param: $("#form1").formSerialize(),
            success: function () {
                $.currentWindow().$("#gridList").trigger("reloadGrid");
            }
        })
    }

</script>
<form id="form1">
    <div style="margin-top: 10px; margin-left: 10px; margin-right: 10px;">
        <div style="padding-top: 20px; margin-right: 30px;">
            <table class="form">
                <tr>
                    <th class="formTitle" style="padding-right:8px;">客户信息:</th>
                    <td class="formValue" style="width:100%;">
                        <textarea id="F_CustInfo" name="F_CustInfo" class="form-control required" placeholder="姓名、地址、QQ等" style="height: 100px;width: 100%;"></textarea>
                    </td> 
                </tr>
                <tr style="padding-top:1em;">
                    <td colspan="4"   style="width:100%;height:50px;padding:1em 0em;">
                        <div class="formTitle" style="padding-right:12px;float:left;width:7.9em;line-height:30px;">手机号:</div>
                        <div  style="width:18.8em;float:left;">
                            <input id="F_MobilePhone" name="F_MobilePhone" type="text" class="form-control required" placeholder="请输入手机号码" style="width:18.8em;float:left;" />
                        </div>
                        <div style="width:90px;float:left;width:8.3em;line-height:30px;padding-right:12px;text-align:right;">状态:</div>
                        <div  style="width:18.8em;float:left;">
                            <select id="F_StateId" name="F_StateId" class="form-control" style="width:18.8em;float:left;">
                                <option value="一级客户">一级客户</option>
                                <option value="二级客户">二级客户</option>
                                <option value="三级客户">三级客户</option>
                                <option value="四级客户">四级客户</option>
                            </select>
                        </div>
                        <div style="padding-right:1em;float:left;width:7.9em;line-height:30px;text-align:right;margin-top:10px;">提醒时间:</div>
                        <div  style="width:18.8em;float:left;">
                            <input id="F_CallTime" name="F_CallTime" type="text" class="form-control input-wdatepicker" onfocus="WdatePicker({ dateFmt: 'yyyy-MM-dd HH:mm:ss' })" style="float:left;width:18.8em;height:32px;padding-top:6px;margin-top:10px;"/>
                        </div>
                    </td>
                </tr> 
            </table>
            
        </div>
    </div>
</form>
